<h1>Markets</h1>

<% @facade.markets.each do |market| %>
  <%= market.name %> </br>
  <%= market.city %> </br>
  <%= market.state %> </br>
  <%= button_to "More Info about #{market.name}", market_path(market.id), method: :get %>
<% end %>
